# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Playwright
.playwright/
playwright-report/
test-results/
reports/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# dotenv environment variables
.env

# Git
.ssh/
.idea/
